body{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.979);
}
h1{
    display: flex;
    justify-content: center;
    padding: 340px;
    margin: 24px;
    font-size: large;
}
.cabecalho-logo{
    display: flex;
    justify-content: left;
    width: 200px ;
    padding: 200px;
    margin: 0%
    left : 200 px ;
}

.logotipo{
    display: flex;
    justify-content: left;
    width: 200px;
    height: 200px ;
    margin: 0%;
    left : 500 px ;
}
h2{
     display: flex;
    justify-content: left;
    padding: 95px ;
    margin: 100px ;

}
