body{
    color: rgb(0, 0, 0);
    background-color: rgb(170, 172, 171);
}
h1{
    display: flex;
    justify-content: center;
    padding: 340px;
    margin: 24px;
    font-size: large;
}
.cabecalho-logo{
    display: flex;
    justify-content: left;
    width: 250px;
    padding: 150px;
    margin: 15%
}

.logotipo{
    width: 300px;
    height: 300px ;
}
