body{
    color: rgb(255, 255, 255);
    background-color: rgb(170, 172, 171);
}
.cabecalho-logo{
    display: flex;
    justify-content: center;
    width: 200zpx;
    padding: 20px;
    margin: 30px;
}
